<!-- views/ad.ejs -->
<div class="ad-container" style="width: 100%; max-width: 100%;">
    <a href="<%= ad.linkUrl %>" target="_blank">
      <img src="<%= ad.imageUrl %>" alt="<%= ad.title %>" style="width: 100%; height: auto;">
    </a>
</div>
  